# Base URL of the application under test
BASE_URL=http://your/actual/url

# Browser settings
BROWSER=chrome		# Currently only chrome is supported
HEADLESS=true		# Run browser in headless mode
IMPLICIT_WAIT=10	# Seconds to wait for an element before timing out

# Test CREDENTIALS
ADMIN_USERNAME=admin_username
ADMIN_PASSWORD=admin_password
CBO_USERNAME=cbo_username
CBO_PASSWORD=cbo_password
ENGINEER_USERNAME=engineer_username
ENGINEER_PASSWORD=engineer_password
SUPERVISOR_USERNAME=supervisor_username
SUPERVISOR_PASSWORD=supervisor_password

#API base
API_BASE_URL=http://your/actual/url/api

# Flag to mock hardware interactions( should set to false in ci)
MOCK_HARDWARE=true

#Firmware file path for upload tests
FIRMWARE_FILE_PATH=C:\path\to\firmware\file

