# Python

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlconv/

# Environment
.evn
venv
env/
ENV/
.env.backup

# IDE
.vscode/
.idea/
*.swp
*.swo

# Reports
reports/
allure-results/
allure-history/
*.log

# Docker
.dockerignore
Dockerfile
docker-compose.yml

#OS
.DS_Store
Thumbs.db

.env
.env
